@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@600&family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.main {
    background-image: url("assets/images/bg4.jpg");
    background-position: center center;
    background-size: max(1200px, 100vw);
    background-repeat: no-repeat;
    height: 644px;
    position: relative;
}

.main .box {
    height: 644px;
    width: 100%;
    opacity: 0.69;
    position: absolute;
    top: 0;
    background-color: black;
}

nav {
    max-width: 60vw;
    justify-content: space-between;
    margin: auto;
    display: flex;
    align-items: center;
    height: 100px;
}

nav img {
    color: red;
    width: 130px;
    position: relative;
    z-index: 10;
}

nav button {
    position: relative;
    z-index: 10;
}

.text {
    font-family: 'Martel Sans', sans-serif;
    height: calc(100% - 100px);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    position: relative;
    gap: 23px;
    padding: 0 30px;
}

body {
    background-color: black;
}

.text> :first-child {
    font-family: 'Poppins', sans-serif;
    font-weight: bolder;
    font-size: 45px;
    text-align: center;
}

.text> :nth-child(2) {
    font-weight: 400px;
    font-size: 24px;
    text-align: center;
}

.text> :nth-child(3) {
    font-weight: 400px;
    font-size: 20px;
    text-align: center;
}

.seperation {
    height: 7px;
    background-color: rgb(46, 44, 44);
    position: relative;
    z-index: 20;
}

.btn {
    padding: 3px 8px;
    font-weight: 400;
    color: white;
    background-color: rgba(248, 243, 243, 0.021);
    border-radius: 4px;
    border: 1px solid rgb(130, 129, 129);
    cursor: pointer;
}

.btn-red {
    background-color: red;
    color: white;
    padding: 6px 19px;
    font-size: 20px;
    border-radius: 4px;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
    border-style: none;
}

.btn-red-sm {
    background-color: red;
    color: white;
    border-style: none;
}

.main input {
    padding: 12px 127px 8px 11px;
    ;
    color: white;
    font-size: 12px;
    border-radius: 4px;
    background-color: rgba(23, 23, 23, 0.7);
    border: 1px solid rgba(246, 238, 238, 0.5);
}

text-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

.first {
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: center;
    max-width: 70vw;
    margin: auto;
    color: white;
    justify-content: center;
    align-items: center;
}

.sec1-img img {
    width: 555px;
    position: relative;
    z-index: 10;
    right: 0;
    top: 50px;
}

.sec1-img {
    position: relative;
}

.sec1-img video {
    position: absolute;
    right: 77px;
    top: 170px;
    overflow-clip-margin: content-box;
    overflow: clip;
    height: 229px;
}

.first>div :first-child {
    font-size: 48px;
    font-weight: bolder;
}

.first>div :nth-child(2) {
    font-size: 24px;
}

section.first>div {
    display: flex;
    flex-direction: column;
    padding: 34px 0;
}

.seperation2 {
    margin-top: 70px;
    height: 7px;
    background-color: rgba(84, 84, 84, 0.863);
}

.sec3-img {
    position: relative;
}

.sec3-img img {
    width: 555px;
    position: relative;
    z-index: 10;
}

.sec3-img video {
    position: absolute;
    top: 80px;
    right: 0;
    width: 555px;
    height: 200px;
}

.faq {
    background-color: black;
    padding: 10px;
    color: white;
    text-align: center;
}

.faqbox {
    display: flex;
    color: white;
    background-color: rgb(44, 44, 44);
    padding: 20px;
    margin: 10px auto;
    max-width: 70vw;
    justify-content: space-between;
    cursor: pointer;
    font-size: 24px;
    transition: all 1s ease-out;
}

.faqbox:hover {
    background-color: #414141
}

.faq h2 {
    margin-top: 40px;
    font-size: 48px;
    color: white;
    text-align: center;
}

.fourth-last {
    margin-top: 50px;
}

.fourth-last span {
    font-size: 18px;
}

.text-buttons-last {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.faq input {
    padding: 14px 122px 10px 5px;
    color: white;
    font-size: 12px;
    border-radius: 4px;
    background-color: rgba(23, 23, 23, 0.7);
    border: 1px solid rgba(246, 238, 238, 0.5);
}

.faq .btn-red {
    background-color: red;
    color: white;
    padding: 6px 19px;
    font-size: 20px;
    border-radius: 4px;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
    border-style: none;
}

.text-buttons-last {
    margin-top: 15px;
}

footer {
    color: rgb(235, 231, 231);
    max-width: 70vw;
    margin: auto;
    padding: 60px;
}

footer .questions {
    padding: 20px 10px;
}


.footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    color: white;
    gap: 100px;
}

footer a {
    font-size: 14px;
    color: rgb(235, 231, 231);
    padding: 10px;
}

.footer-item {
    display: flex;
    flex-direction: column;
}

.last {
    margin-top: 24px;
    padding: 2px 25px 4px 20px;
    border: 1px solid gray;
    border-radius: 1px;
    width: 55px;
}

.last2 {
    margin-top: 14px;
    padding-left: 14px;
    color: rgb(235, 231, 231);
    font-size: 14px;
}

@media screen and (max-width: 835px) {
    .first {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        max-width: 62vw;
        margin: auto;
        color: white;
        justify-content: center;
        align-items: center;
    }
    .sec1-img img {
        width: 555px;
        position: relative;
        z-index: 10;
        right: 0;
        top: -61px;
    }
    .sec1-img video {
        top: 60px;
    }
    .seperation2 {
        margin-top: 65px;
        margin-bottom: 43px;
    }

}
@media screen and (max-width: 280px) {
    nav img {
        color: red;
        width: 86px;
        position: relative;
        z-index: 10;
        top: -20px;
        left: -24px;
    }
    .main div {
        display: flex;
        flex-direction: column;
    }
    .text> :first-child {
        font-family: 'Poppins', sans-serif;
        font-weight: bolder;
        font-size: 30px;
        text-align: center;
    }
    .text> :nth-child(2) {
        font-weight: 400px;
        font-size: 20px;
        text-align: center;
    }
    .text> :nth-child(3) {
        font-weight: 400px;
        font-size: 15px;
        text-align: center;
    }
    .btn-red {
        background-color: red;
        color: white;
        padding: -2px 24px;
        height: 30px;
        font-size: 10px;
        border-radius: 4px;
        font-weight: 400;
        font-family: 'Poppins', sans-serif;
        border-style: none;
    }
    .main input {
       font-size: 10px;
       padding: 6px 15px 8px 11px;
    }
    .first>div :first-child {
        font-size: 25px;
    }
    .first>div :nth-child(2) {
        font-size: 15px;
    }
}